TwoEndpointsSameFlow/src/main/app/TwoEndpointsSameFlow.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/ejemplo" doc:name="HTTP Listener Configuration"/>
    <flow name="TwoEndpointsSameFlowFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/rest" doc:name="HTTP"/>
        <jersey:resources doc:name="REST">
            <component class="twoEndpointsSameFlow.ConsultaProductos"/>
        </jersey:resources>
        <flow-ref name="TwoEndpointsSameFlowSub_Flow" doc:name="TwoEndpointsSameFlowSub_Flow"/>
    </flow>
    <flow name="TwoEndpointsSameFlowFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/soap" doc:name="HTTP"/>
        <cxf:jaxws-service serviceClass="twoEndpointsSameFlow.IConsultaProductos" doc:name="CXF"/>
        <component class="twoEndpointsSameFlow.ConsultaProductos" doc:name="Java"/>
        <flow-ref name="TwoEndpointsSameFlowSub_Flow" doc:name="TwoEndpointsSameFlowSub_Flow"/>
    </flow>
    <sub-flow name="TwoEndpointsSameFlowSub_Flow">
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </sub-flow>
</mule>
